<form style="margin-top: 100px;" method="POST">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" name="name" id="inputName" aria-describedby="emailHelp" placeholder="Enter name">
  </div>
  <button type="button" class="btn btn-success" aria-label="Left Align"
    onclick="window.location.href='/admin/category'"  
  >
    <span class="glyphicon glyphicon-align-left" aria-hidden="true">Back to List</span>
  </button>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

