<div class="vertical-menu">

<div class="set-theme theme-side-light left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title" style="">Menu</li>
                <li>
                    <a href="/admin/category" class="waves-effect">
                        <i class="ti-view-grid"></i><span class="badge badge-primary badge-pill float-right"></span> <span> Category </span>
                    </a>
                </li>
                 <li>
                    <a href="/admin/user" class="waves-effect">
                        <i class="ti-user"></i><span class="badge badge-primary badge-pill float-right"></span> <span> User </span>
                    </a>
                </li>
                 <li>
                    <a href="/admin/field" class="waves-effect">
                        <i class="ti-view-list-alt"></i><span class="badge badge-primary badge-pill float-right"></span> <span> Field </span>
                    </a>
                </li>
                <li>
                    <a href="/admin/course" class="waves-effect">
                        <i class="fa fa-certificate"></i><span class="badge badge-primary badge-pill float-right"></span> <span> Course </span>
                    </a>
                </li>
                
                

            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
</div>