<div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
        <div class="container">
          <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
              <li class="active"><a href="#home">Home</a>
              </li>
              <li><a href="#">Categories</a>
                <ul class= "dropdown">
                  <li><a href = "#">IT</a>
                    <ul class = "dropdown">
                      <li><a href="#">Lập trình web</a></li>
                      <li><a hred="#">Lập trình di động</a></li>
                    </ul>
                  </li>

                  <li><a href = "#">Cooking</a>
                    <ul class = "dropdown">
                      <li><a href="#">Lĩnh vực 1 </a></li>
                      <li><a hred="#">Lĩnh vực 2</a></li>
                    </ul>
                  </li>

                </ul>
              </li>
            </ul>
            <div id="top-search-bar" class="collapse">
              <div class="container">
                <form role="search" action="#" class="search_form_top" method="get">
                  <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                  <span class="search-close"><i class="fa fa-search"></i></span>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>