<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    {{> head_client}}
    {{{_sections.css}}}
</head>

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <div class="preloader-dot-loading">
                    <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
                </div>
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>

        <!-- Header -->
        <header id="header" class="header">
            {{> header_client}}
            {{> nav_client}}
        </header>
        <!-- Start main-content -->
        <div class="main-content">
            {{{body}}}
            <!-- end main-content -->
        </div>
        {{> bottom_client}}
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="/assets/client/js/custom.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
            (Load Extensions only on Local File Systems ! 
            The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript"
        src="/assets/client/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript"
        src="/assets/client/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript"
        src="/assets/client/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript"
        src="/assets/client/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript"
        src="/assets/client/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript"
        src="/assets/client/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript"
        src="/assets/client/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript"
        src="/assets/client/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript"
        src="/assets/client/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
    {{{_sections.js}}}
</body>

</html>