<div class="container site-content sidebar-right"><div class="row"><main id="main" class="site-main col-sm-9 alignleft">
<article id="post-5558" class="post-5558 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-backend course">
<div class="entry-content">
<div id="lp-single-course" class="lp-single-course">
<div id="learn-press-course" class="course-summary learn-press">
<h1 class="entry-title" itemprop="name">Become a PHP Master and Make Money Fast</h1>
<div class="course-meta">
<div class="course-author">
<img alt='User Avatar' src='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=96&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=192&#038;d=mm&#038;r=g 2x' class='avatar avatar-96 photo' height='96' width='96' loading='lazy' /> <div class="author-contain">
<label itemprop="jobTitle">Teacher</label>
<div class="value" itemprop="name">
<a href="https://coaching.thimpress.com/lp-profile/Thang/">Thang</a> </div>
</div>
</div> <div class="course-categories">
<label>Categories</label>
<div class="value">
<span class="cat-links"><a href="https://coaching.thimpress.com/course-category/backend/" rel="tag">Backend</a></span> </div>
</div>
<div class="course-review">
<label>Review</label>
<div class="value">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
</div>
</div>
<div class="course-payment">
<div class="course-price">
<div class="value ">
&#36;80.00
</div>
</div>
<div class="lp-course-buttons">
<form name="purchase-course" class="purchase-course form-purchase-course " method="post" enctype="multipart/form-data">
<input type="hidden" name="purchase-course" value="5558" />
<input type="hidden" name="purchase-course-nonce" value="c62f346d30" />
<button class="lp-button button button-purchase-course">
Buy this course </button>
<input type="hidden" name="redirect_to" value="">
</form>
</div>
</div>
<div class="course-summary">
<div class="course-thumbnail">
<a href="../../wp-content/uploads/2015/06/course-2.jpg" itemprop="image" class="learn-press-single-thumbnail" title=""><img src="../../wp-content/uploads/2015/06/course-2-870x500.jpg" alt="course-2" title="course-2" width="870" height="500"></a></div>
<div id="course-landing" class="course-landing-summary">
<div id="learn-press-course-tabs" class="course-tabs">
<ul class="nav nav-tabs">
<li role="presentation" class="course-nav-tab-overview active">
<a href="#tab-overview" data-toggle="tab">
<i class="fa fa-bookmark"></i>
<span>Overview</span>
</a>
</li>
<li role="presentation" class="course-nav-tab-curriculum">
<a href="#tab-curriculum" data-toggle="tab">
<i class="fa fa-cube"></i>
<span>Curriculum</span>
</a>
</li>
<li role="presentation" class="course-nav-tab-instructor">
<a href="#tab-instructor" data-toggle="tab">
<i class="fa fa-user"></i>
<span>Instructor</span>
</a>
</li>
<li role="presentation" class="course-nav-tab-reviews">
<a href="#tab-reviews" data-toggle="tab">
<i class="fa fa-comments"></i>
<span>Reviews</span>
</a>
</li>
</ul>
<div class="tab-content">
<div class="tab-pane course-tab-panel-overview course-tab-panel active" id="tab-overview">
<div class="course-description" id="learn-press-course-description">
<div class="thim-course-content">
<h4>COURSE DESCRIPTION</h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
<h4>CERTIFICATION</h4>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#8217;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
<h4>LEARNING OUTCOMES</h4>
<ul class="thim-list-content">
<li>Over 37 lectures and 55.5 hours of content!</li>
<li>LIVE PROJECT End to End Software Testing Training Included.</li>
<li>Learn Software Testing and Automation basics from a professional trainer from your own desk.</li>
<li>Information packed practical training starting from basics to advanced testing techniques.</li>
<li>Best suitable for beginners to advanced level users and who learn faster when demonstrated.</li>
<li>Course content designed by considering current software testing technology and the job market.</li>
<li>Practical assignments at the end of every session.</li>
<li>Practical learning experience with live project work and examples.</li>
</ul>
</div>
<div class="thim-course-info">
<h3 class="title">Course Features</h3>
<ul>
<li class="lectures-feature">
<i class="fa fa-files-o"></i>
<span class="label">Lectures</span>
<span class="value">7</span>
</li>
<li class="quizzes-feature">
<i class="fa fa-puzzle-piece"></i>
<span class="label">Quizzes</span>
<span class="value">1</span>
</li>
<li class="skill-feature">
<i class="fa fa-level-up"></i>
<span class="label">Skill level</span>
<span class="value">Beginner</span>
</li>
<li class="language-feature">
<i class="fa fa-language"></i>
<span class="label">Language</span>
<span class="value">English</span>
</li>
<li class="students-feature">
<i class="fa fa-users"></i>
<span class="label">Students</span>
<span class="value">28</span>
</li>
<li class="assessments-feature">
<i class="fa fa-check-square-o"></i>
<span class="label">Assessments</span>
<span class="value">Yes</span>
</li>
</ul>
</div>
</div> </div>
<div class="tab-pane course-tab-panel-curriculum course-tab-panel" id="tab-curriculum">
<div class="lp-course-buttons">
</div>
<div class="course-curriculum" id="learn-press-course-curriculum">
<div class="curriculum-scrollable">
<ul class="curriculum-sections">
<li class="section" id="section-section-1-the-first-steps-4" data-id="section-1-the-first-steps-4" data-section-id="4">
<h4 class="section-header">
<span class="collapse"></span>
Section 1: The First Steps <span class="meta">
<span class="step">0/1</span>
</span>
</h4>
<ul class="section-content">
<li class="course-item course-item-lp_lesson course-item-6296 item-locked course-lesson" data-type="lp_lesson">
<div class="meta-left">
<span class="course-format-icon"><i class="fa fa-file-o"></i></span> <div class="index"><span class="label">Lecture</span>1.1</div>
</div>
<span class="lesson-title course-item-title button-load-item">
Introduction </span>
<div class="course-item-meta">
<span class="meta duration">30 min</span><i class="fa item-meta course-item-status trans"></i></div>
</li>
</ul>
</li>
<li class="section" id="section-section-2-the-second-steps-5" data-id="section-2-the-second-steps-5" data-section-id="5">
<h4 class="section-header">
<span class="collapse"></span>
Section 2: The Second Steps <span class="meta">
<span class="step">0/6</span>
</span>
</h4>
<ul class="section-content">
<li class="course-item course-item-lp_lesson course-item-5308 item-locked course-lesson" data-type="lp_lesson">
<div class="meta-left">
<span class="course-format-icon"><i class="fa fa-file-o"></i></span> <div class="index"><span class="label">Lecture</span>2.1</div>
</div>
<span class="lesson-title course-item-title button-load-item">
PHP Error Handling </span>
<div class="course-item-meta">
<span class="meta duration">20 min</span><i class="fa item-meta course-item-status trans"></i></div>
</li>
<li class="course-item course-item-lp_lesson course-item-5309 item-locked course-lesson" data-type="lp_lesson">
<div class="meta-left">
<span class="course-format-icon"><i class="fa fa-file-o"></i></span> <div class="index"><span class="label">Lecture</span>2.2</div>
</div>
<span class="lesson-title course-item-title button-load-item">
PHP Exception </span>
<div class="course-item-meta">
<span class="meta duration">30 sec</span><i class="fa item-meta course-item-status trans"></i></div>
</li>
<li class="course-item course-item-lp_lesson course-item-5307 item-locked course-lesson" data-type="lp_lesson">
<div class="meta-left">
<span class="course-format-icon"><i class="fa fa-file-o"></i></span> <div class="index"><span class="label">Lecture</span>2.3</div>
</div>
<span class="lesson-title course-item-title button-load-item">
PHP Filters </span>
<div class="course-item-meta">
<span class="meta duration">30 sec</span><i class="fa item-meta course-item-status trans"></i></div>
</li>
<li class="course-item course-item-lp_lesson course-item-5302 item-locked course-lesson" data-type="lp_lesson">
<div class="meta-left">
<span class="course-format-icon"><i class="fa fa-file-o"></i></span> <div class="index"><span class="label">Lecture</span>2.4</div>
</div>
<span class="lesson-title course-item-title button-load-item">
PHP Functions </span>
<div class="course-item-meta">
<span class="meta duration">30 sec</span><i class="fa item-meta course-item-status trans"></i></div>
</li>
<li class="course-item course-item-lp_lesson course-item-5295 item-locked course-lesson" data-type="lp_lesson">
<div class="meta-left">
<span class="course-format-icon"><i class="fa fa-file-o"></i></span> <div class="index"><span class="label">Lecture</span>2.5</div>
</div>
<span class="lesson-title course-item-title button-load-item">
PHP Install </span>
<div class="course-item-meta">
<span class="meta duration">15 min</span><i class="fa item-meta course-item-status trans"></i></div>
</li>
<li class="course-item course-item-lp_lesson course-item-5301 item-locked course-lesson" data-type="lp_lesson">
<div class="meta-left">
<span class="course-format-icon"><i class="fa fa-file-o"></i></span> <div class="index"><span class="label">Lecture</span>2.6</div>
</div>
<span class="lesson-title course-item-title button-load-item">
PHP Loop </span>
<div class="course-item-meta">
<span class="meta duration">30 sec</span><i class="fa item-meta course-item-status trans"></i></div>
</li>
</ul>
</li>
<li class="section" id="section-section-3-the-third-steps-6" data-id="section-3-the-third-steps-6" data-section-id="6">
<h4 class="section-header">
<span class="collapse"></span>
Section 3: The Third Steps <span class="meta">
<span class="step">0/1</span>
</span>
</h4>
<ul class="section-content">
<li class="course-item course-item-lp_quiz course-item-5493 item-locked course-quiz" data-type="lp_quiz">
<div class="meta-left">
<span class="course-format-icon"><i class="fa fa-puzzle-piece"></i></span> <div class="index"><span class="label">Quiz</span>3.1</div>
</div>
<span class="quiz-title course-item-title button-load-item">
<span class="item-name">Final Quiz</span> </span>
<div class="course-item-meta">
<span class="meta count-questions">0 question</span><i class="fa item-meta course-item-status trans"></i></div>
</li>
</ul>
</li> </ul>
</div>
</div>
</div>
<div class="tab-pane course-tab-panel-instructor course-tab-panel" id="tab-instructor">
<div class="thim-about-author">
<div class="author-wrapper">
<div class="author-avatar">
<img alt='' src='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=100&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=200&#038;d=mm&#038;r=g 2x' class='avatar avatar-100 photo' height='100' width='100' loading='lazy' /> </div>
<div class="author-bio">
<div class="author-top">
<a class="name" href="https://coaching.thimpress.com/lp-profile/Thang/">
Thang </a>
</div>
<div class="author-description">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
</div>
</div>
</div>
<div class="thim-about-author thim-co-instructor" itemprop="contributor" itemscope itemtype="http://schema.org/Person">
<div class="author-wrapper">
<div class="author-avatar">
<img alt="" src="../../../scontent.xx.fbcdn.net/v/t1.0-1/p148x148/10409372_802775696487414_8113502757289746036_ndd1b.jpg?oh=9efa809bf6a30fd6d02f1e419013a1e9&amp;oe=590F0EE4" class="avatar apsl-avatar-social-login avatar-110 photo" height="110" width="110" /> </div>
<div class="author-bio">
<div class="author-top">
<a itemprop="url" class="name" href="https://coaching.thimpress.com/lp-profile/thuhuyen/">
<span itemprop="name">Huyen Thu</span>
</a>
</div>
<ul class="thim-author-social">
</ul>
</div>
<div class="author-description" itemprop="description">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
</div>
</div>
<div class="thim-about-author thim-co-instructor" itemprop="contributor" itemscope itemtype="http://schema.org/Person">
<div class="author-wrapper">
<div class="author-avatar">
<img alt='' src='https://secure.gravatar.com/avatar/?s=110&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/?s=220&#038;d=mm&#038;r=g 2x' class='avatar avatar-110 photo avatar-default' height='110' width='110' loading='lazy' /> </div>
<div class="author-bio">
<div class="author-top">
<a itemprop="url" class="name" href="https://coaching.thimpress.com/lp-profile/quocnguyen/">
<span itemprop="name">quocnguyen</span>
</a>
</div>
<ul class="thim-author-social">
 </ul>
</div>
<div class="author-description" itemprop="description">
</div>
</div>
</div>
</div>
<div class="tab-pane course-tab-panel-reviews course-tab-panel" id="tab-reviews">
<div class="course-rating">
<h3>Reviews</h3>
<div class="average-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
<p class="rating-title">Average Rating</p>
<div class="rating-box">
<div class="average-value" itemprop="ratingValue">0</div>
<div class="review-star">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
<div class="review-amount" itemprop="ratingCount">
0 rating </div>
</div>
</div>
<div class="detailed-rating">
<p class="rating-title">Detailed Rating</p>
<div class="rating-box">
<div class="detailed-rating">
<div class="stars">
<div class="key">5 stars</div>
<div class="bar">
<div class="full_bar">
<div style="width: 0%"></div>
</div>
</div>
<div class="value">0</div>
</div>
<div class="stars">
<div class="key">4 stars</div>
<div class="bar">
<div class="full_bar">
<div style="width: 0%"></div>
</div>
</div>
<div class="value">0</div>
</div>
<div class="stars">
<div class="key">3 stars</div>
<div class="bar">
<div class="full_bar">
<div style="width: 0%"></div>
</div>
</div>
<div class="value">0</div>
</div>
<div class="stars">
<div class="key">2 stars</div>
<div class="bar">
<div class="full_bar">
<div style="width: 0%"></div>
</div>
</div>
<div class="value">0</div>
</div>
<div class="stars">
<div class="key">1 star</div>
<div class="bar">
<div class="full_bar">
<div style="width: 0%"></div>
</div>
</div>
<div class="value">0</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="thim-course-menu-landing">
<div class="container">
<ul class="thim-course-landing-tab">
<li role="presentation" class="course-nav-tab-overview active">
<a href="#tab-overview">Overview</a>
</li>
<li role="presentation" class="course-nav-tab-curriculum">
<a href="#tab-curriculum">Curriculum</a>
</li>
<li role="presentation" class="course-nav-tab-instructor">
<a href="#tab-instructor">Instructor</a>
</li>
<li role="presentation" class="course-nav-tab-reviews">
<a href="#tab-reviews">Reviews</a>
</li>
</ul>
<div class="thim-course-landing-button">
<div class="course-price">
<div class="value ">
&#36;80.00
</div>
</div>
<div class="lp-course-buttons">
<form name="purchase-course" class="purchase-course form-purchase-course " method="post" enctype="multipart/form-data">
<input type="hidden" name="purchase-course" value="5558" />
<input type="hidden" name="purchase-course-nonce" value="c62f346d30" />
<button class="lp-button button button-purchase-course">
Buy this course </button>
<input type="hidden" name="redirect_to" value="">
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="thim-ralated-course  ">
<h3 class="related-title">
You May Like </h3>
<div class="thim-course-grid">
<div class="thim-carousel-wrapper" data-visible="3" data-itemtablet="2" data-itemmobile="1" data-pagination="1">
<article class="lpr_course">
<div class="course-item">
<div class="course-thumbnail">
<a class="thumb" href="https://coaching.thimpress.com/courses/learnpress-101/">
<img src="../../wp-content/uploads/2015/11/course-4-450x450.jpg" alt="Introduction LearnPress &#8211; LMS plugin" title="course-4" width="450" height="450"> </a>
<a class="course-readmore" href="https://coaching.thimpress.com/courses/learnpress-101/">Read More</a> </div>
<div class="thim-course-content">
<h2 class="course-title">
<a href="https://coaching.thimpress.com/courses/learnpress-101/"> Introduction LearnPress &#8211; LMS plugin</a>
</h2>
<div class="middle">
<div class="course-author" itemscope itemtype="http://schema.org/Person">
<img alt='' src='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=40&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=80&#038;d=mm&#038;r=g 2x' class='avatar avatar-40 photo' height='40' width='40' loading='lazy' /> <div class="author-contain">
<label itemprop="jobTitle">Teacher</label>
<div class="value" itemprop="name">
<a href="https://coaching.thimpress.com/lp-profile/Thang/">
Thang </a>
</div>
</div>
</div>
<div class="course-students">
<label>Students</label>
<div class="value"><i class="fa fa-group"></i>
</div>
</div>
</div>
<div class="course-meta">
<div class="course-review">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
<div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<div class="value free-course" itemprop="price" content="Free">
Free </div>
<meta itemprop="priceCurrency" content="&#36;" />
</div>
</div>
</div>
</div>
</article>
<article class="lpr_course">
<div class="course-item">
<div class="course-thumbnail">
<a class="thumb" href="https://coaching.thimpress.com/courses/learning-jquery-mobile-for-beginners/">
<img src="../../wp-content/uploads/2015/06/course-5-450x450.jpg" alt="Learning jQuery Mobile for Beginners" title="course-5" width="450" height="450"> </a>
<a class="course-readmore" href="https://coaching.thimpress.com/courses/learning-jquery-mobile-for-beginners/">Read More</a> </div>
<div class="thim-course-content">
<h2 class="course-title">
<a href="https://coaching.thimpress.com/courses/learning-jquery-mobile-for-beginners/"> Learning jQuery Mobile for Beginners</a>
</h2>
<div class="middle">
<div class="course-author" itemscope itemtype="http://schema.org/Person">
<img alt='' src='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=40&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=80&#038;d=mm&#038;r=g 2x' class='avatar avatar-40 photo' height='40' width='40' loading='lazy' /> <div class="author-contain">
<label itemprop="jobTitle">Teacher</label>
<div class="value" itemprop="name">
<a href="https://coaching.thimpress.com/lp-profile/Thang/">
Thang  </a>
</div>
</div>
</div>
<div class="course-students">
<label>Students</label>
<div class="value"><i class="fa fa-group"></i>
</div>
</div>
</div>
<div class="course-meta">
<div class="course-review">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
<div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<div class="value " itemprop="price" content="&#036;30.00">
&#036;30.00 </div>
<meta itemprop="priceCurrency" content="&#36;" />
</div>
</div>
</div>
</div>
</article>
<article class="lpr_course">
<div class="course-item">
<div class="course-thumbnail">
<a class="thumb" href="https://coaching.thimpress.com/courses/html5css3-essentials-in-4-hours/">
<img src="../../wp-content/uploads/2015/12/course-6-min-450x450.jpg" alt="HTML5/CSS3 Essentials in 4-Hours" title="course-6-min" width="450" height="450"> </a>
<a class="course-readmore" href="https://coaching.thimpress.com/courses/html5css3-essentials-in-4-hours/">Read More</a> </div>
<div class="thim-course-content">
<h2 class="course-title">
<a href="https://coaching.thimpress.com/courses/html5css3-essentials-in-4-hours/"> HTML5/CSS3 Essentials in 4-Hours</a>
</h2>
<div class="middle">
<div class="course-author" itemscope itemtype="http://schema.org/Person">
<img alt='' src='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=40&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=80&#038;d=mm&#038;r=g 2x' class='avatar avatar-40 photo' height='40' width='40' loading='lazy' />  <div class="author-contain">
<label itemprop="jobTitle">Teacher</label>
<div class="value" itemprop="name">
<a href="https://coaching.thimpress.com/lp-profile/Thang/">
Thang </a>
</div>
</div>
</div>
<div class="course-students">
<label>Students</label>
<div class="value"><i class="fa fa-group"></i>
</div>
</div>
</div>
<div class="course-meta">
<div class="course-review">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
<div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<div class="value " itemprop="price" content="&#036;36.00">
&#036;36.00 </div>
<meta itemprop="priceCurrency" content="&#36;" />
</div>
</div>
</div>
</div>
</article>
<article class="lpr_course">
<div class="course-item">
<div class="course-thumbnail">
<a class="thumb" href="https://coaching.thimpress.com/courses/the-art-of-black-and-white-photography/">
<img src="../../wp-content/uploads/2016/03/portfolio-course-3-450x450.jpg" alt="The Art of Black and White Photography" title="portfolio-course-3" width="450" height="450"> </a>
<a class="course-readmore" href="https://coaching.thimpress.com/courses/the-art-of-black-and-white-photography/">Read More</a> </div>
<div class="thim-course-content">
<h2 class="course-title">
<a href="https://coaching.thimpress.com/courses/the-art-of-black-and-white-photography/"> The Art of Black and White Photography</a>
</h2>
 <div class="middle">
<div class="course-author" itemscope itemtype="http://schema.org/Person">
<img alt='' src='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=40&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=80&#038;d=mm&#038;r=g 2x' class='avatar avatar-40 photo' height='40' width='40' loading='lazy' /> <div class="author-contain">
<label itemprop="jobTitle">Teacher</label>
<div class="value" itemprop="name">
<a href="https://coaching.thimpress.com/lp-profile/Thang/">
Thang </a>
</div>
</div>
</div>
<div class="course-students">
<label>Students</label>
<div class="value"><i class="fa fa-group"></i>
</div>
</div>
</div>
<div class="course-meta">
<div class="course-review">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
<div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<div class="value " itemprop="price" content="&#036;55.00">
&#036;55.00 </div>
<meta itemprop="priceCurrency" content="&#36;" />
</div>
</div>
</div>
</div>
</article>
<article class="lpr_course">
<div class="course-item">
<div class="course-thumbnail">
<a class="thumb" href="https://coaching.thimpress.com/courses/introduction-to-networking-for-beginners/">
<img src="../../wp-content/uploads/2015/06/course-5-450x450.jpg" alt="Introduction to networking for beginners" title="course-5" width="450" height="450"> </a>
<a class="course-readmore" href="https://coaching.thimpress.com/courses/introduction-to-networking-for-beginners/">Read More</a> </div>
<div class="thim-course-content">
<h2 class="course-title">
<a href="https://coaching.thimpress.com/courses/introduction-to-networking-for-beginners/"> Introduction to networking for beginners</a>
</h2>
<div class="middle">
<div class="course-author" itemscope itemtype="http://schema.org/Person">
<img alt='' src='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=40&amp;d=mm&amp;r=g' srcset='https://secure.gravatar.com/avatar/b08d0d3bc9bf251a412e53566ac82b54?s=80&#038;d=mm&#038;r=g 2x' class='avatar avatar-40 photo' height='40' width='40' loading='lazy' /> <div class="author-contain">
<label itemprop="jobTitle">Teacher</label>
<div class="value" itemprop="name">
<a href="https://coaching.thimpress.com/lp-profile/Thang/">
Thang </a>
</div>
</div>
</div>
<div class="course-students">
<label>Students</label>
<div class="value"><i class="fa fa-group"></i>
</div>
</div>
</div>
<div class="course-meta">
<div class="course-review">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
<div class="course-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<div class="value " itemprop="price" content="&#036;50.00">
&#036;50.00 </div>
<meta itemprop="priceCurrency" content="&#36;" />
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</div>
</div> </div>
</article>
</main>
<div id="sidebar" class="widget-area col-sm-3 sticky-sidebar" role="complementary">
<aside id="courses-3" class="widget widget_courses"><div class="thim-widget-courses thim-widget-courses-base template-list-sidebar-v3"><h4 class="widget-title">Popular Courses</h4> <div class="thim-course-list-sidebar">
<div class="lpr_course has-post-thumbnail">
<div class="course-thumbnail"><img src="../../wp-content/uploads/2015/11/course-4-150x150.jpg" alt="Introduction LearnPress &#8211; LMS plugin" /></div> <div class="thim-course-content">
<h3 class="course-title">
<a href="https://coaching.thimpress.com/courses/learnpress-101/"> Introduction LearnPress &#8211; LMS plugin</a>
</h3>
<div class="course-meta">
<div class="course-review">
<div class="course-review">
<label>Review</label>
<div class="value">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
</div>
</div>
<div class="course-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
<div class="value  free-course" itemprop="price">
Free </div>
<meta itemprop="priceCurrency" content="&#36;" />
</div> </div>
</div>
</div>
<div class="lpr_course has-post-thumbnail">
<div class="course-thumbnail"><img src="../../wp-content/uploads/2015/12/course-16-150x150.jpg" alt="Learn Python &#8211; Interactive Python Tutorial" /></div> <div class="thim-course-content">
<h3 class="course-title">
<a href="https://coaching.thimpress.com/courses/python/"> Learn Python &#8211; Interactive Python Tutorial</a>
</h3>
<div class="course-meta">
<div class="course-review">
<div class="course-review">
<label>Review</label>
<div class="value">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
</div>
</div>
<div class="course-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
<div class="value " itemprop="price">
&#36;69.00 </div>
<meta itemprop="priceCurrency" content="&#36;" />
</div> </div>
</div>
</div>
<div class="lpr_course has-post-thumbnail">
<div class="course-thumbnail"><img src="../../wp-content/uploads/2015/11/course-9-150x150.jpg" alt="Your Complete Guide to Photography" /></div> <div class="thim-course-content">
<h3 class="course-title">
<a href="https://coaching.thimpress.com/courses/your-complete-guide-to-photography/"> Your Complete Guide to Photography</a>
</h3>
<div class="course-meta">
<div class="course-review">
<div class="course-review">
<label>Review</label>
<div class="value">
<div class="review-stars-rated">
<ul class="review-stars">
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
<li><span class="fa fa-star-o"></span></li>
</ul>
<ul class="review-stars filled" style="width: calc(0% - 2px)">
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
<li><span class="fa fa-star"></span></li>
</ul>
</div>
</div>
</div>
</div>
<div class="course-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
<div class="value " itemprop="price">
&#36;60.00 </div>
<meta itemprop="priceCurrency" content="&#36;" />
</div> </div>
</div>
</div>
</div>
</div></aside><aside id="single-images-5" class="widget widget_single-images"><div class="thim-widget-single-images thim-widget-single-images-base template-base"><div class="single-image text-left"><a href="#" target="_self"><img src="../../wp-content/uploads/2016/06/shop_iamge.jpg" width="270" height="270" alt="" /></a></div></div></aside><aside id="text-10" class="widget widget_text"> <div class="textwidget"><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FThimPress%2F&amp;tabs=timeline&amp;width=270&amp;height=500&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" style="border:none;overflow:hidden"></iframe></div>
</aside></div>
</div></div> </section>