{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/o4dikek5c6dsuwbmp60ubupm9bbaqq6vdgyl6kpm4qhvd5iy/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
    tinymce.init({
        selector: '#txtDes',
        height: 600,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
    });
</script>
<script>
  $('#fuMain').fileinput({
    theme: 'fa',
    dropZoneEnabled: false,
    allowedFileExtensions: ['png', 'jpg', 'gif'],
  });
</script>
{{/section}}
<form action="" method="POST">
    <div class="editor" style=" width: 100%; display: flex; justify-content: center; padding: 10px;">
        <div class="form-group">
            <label for="txtDes">Description</label>
            <textarea class="form-control" name="Des" id="txtDes" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="editor-footer" style="display: inline-block; display: flex; justify-content: center; padding: 10px;">
        <button type='submit' class="btn btn-primary" style="margin-right: 5px;">
            <i class="fa fa-check " aria-hidden="true"></i>
            Save
        </button>
    </div>
</form>

<form action="" method="POST" enctype="multipart/form-data">
    <div class="editor" style=" width: 100%; display: flex; justify-content: center; padding: 10px;">
        <div class="form-group">
            <input id="fuMain" name="fuMain" class= "file" type="file" multiple>
        </div>
    </div>
    <div class="editor-footer" style="display: inline-block; display: flex; justify-content: center; padding: 10px;">
        <button type='submit' class="btn btn-primary" style="margin-right: 5px;">
            <i class="fa fa-check " aria-hidden="true"></i>
            Upload
        </button>
    </div>
</form>
