<div class="card" style="margin-top: 100px;">
    <h5 class="card-header">Add User</h5>
    <div class="card-body">
        <form action="/admin/user/add" method="POST">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="validationCustom01">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="validationCustom02">Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="validationCustom02">Repeat Password</label>
                    <input type="password" class="form-control" name="repassword" required>
                </div>
            </div>
</div>

</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="margin-top: 10px;">
<button class="btn btn-primary" type="submit">Submit form</button>
</div>
</div>
</form>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<!-- following theme script is needed to use the Font Awesome 5.x theme (`fas`) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js"></script>
<script>
    
</script>